@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
  --primary-color: #001833;  
  --secondary-color: #016fe6; 
  --section-subHeading-color: #006ee6; 
  --lightest-blue: #96c8ff;  
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Instrument Sans', sans-serif;
  background: #ffffff;
}

.sticky-header {
  width: 100%;
  height: 110px;
  z-index: 1000;
  transition: all 0.3s ease;
   background: #ffffff;
}

.sticky-header.inside-hero {
  position: absolute;
  top: 40px;
   background: #ffffff;
  box-shadow: none;
  max-width: 1400px;
  left: 50%;
  transform: translateX(-50%);
}

.sticky-header.fixed {
  position: fixed;
  top: 0;
  background: #ffffff;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.nav-div {
  max-width: 1400px;
  margin: auto;
  padding: 0px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-div {
  height: 100%;
}

.logo {
  font-size: 50px;
  font-weight: 300;
  font-family: 'Instrument Sans', sans-serif;
  line-height: 1;
}

.logo a{
  text-decoration: none;
  color: black;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 36px;
}

.nav-links a,
.dropdown button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  min-width: 160px;
  box-shadow: 0 20px 40px rgba(0,0,0,.15);
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  transition: .3s ease;
}

.dropdown.show .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-menu p {
  padding:0.5rem 1rem;
  cursor: pointer;
  font-size: 16px;
}
.dropdown-menu p:hover {
  background: var(--lightest-blue);
}
.dropdown button {
  font-weight: 400;            
  color: black;                 
  font-family: inherit;          
  -webkit-font-smoothing: antialiased;
}

.cta-btn {
  background: var(--primary-color);
  color: white;
  padding: 16px 18px;
  border: none;
  font-family: 'Instrument Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.cta-btn:hover{
  background-color: var(--lightest-blue);
  color: #000;
}

.mobile-menu-btn {
  display: none;
}

.hero {
  position: relative;
 min-height: clamp(520px, 65vh, 860px);
  background: var(--primary-color);
  padding-top: 80px;
}

.hero-grid {
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  height: 100%;
  align-items: stretch;
  margin-top: 12rem;
    height: calc(100% - 12rem);
}

.hero-image {
display: grid;
  align-items: end; 
}

/* anchor image */
.hero-image img {
  width: clamp(520px, 42vw, 720px);
  height: auto;
  max-width: none;
  display: block;
}

.hero-content{
  text-align: right;
  margin-top: 6rem;
}

.hero-content h2 {
  font-size: 48px;
  color: #fff;
  font-weight: 300;
  line-height: 1.5;
}

.hero-content p {
  color: #fff;
  margin: 20px 0;
  font-size: 22px;
  line-height: 1.5;
}

.hero-content p span{
  font-weight: bold;
  color: var(--lightest-blue);
  font-size: 26px;
}

.hero-actions {
  display: flex;
  gap: 24px;
  align-items: flex-end;
  justify-content: flex-end;
}

.outline-btn {
  background: transparent;
  border: 1.5px solid var(--lightest-blue);
  color: var(--lightest-blue);
  padding: 12px 20px;
  font-weight: 400;
  font-size: 20px;
   font-family: 'Instrument Sans', sans-serif;;
}

.outline-btn:hover{
  background-color: var(--secondary-color);
  color: white;
  border: none;
}

.solid-btn {
  background: var(--secondary-color);
  color: white;
  padding: 12px 20px;
  border: none;
   font-weight: 400;
  font-size: 20px;
  font-family: 'Instrument Sans', sans-serif;;
}

.solid-btn:hover{
  background-color: var(--lightest-blue);
  color: black;
}

.menu-btn {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

.hero-sidebar .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background: #07162c;
  padding: 24px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.hero-sidebar .sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

/* CLOSE BUTTON */
.hero-sidebar .close-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 28px;
  cursor: pointer;
}

/* LINKS */
.hero-sidebar .sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.hero-sidebar .sidebar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

/* FOOTER */
.hero-sidebar .sidebar-footer {
  margin-top: auto;
  color: #bbb;
  font-size: 14px;
}

.trusted-section {
  padding: 1rem;
  background: #ffffff;
  margin-bottom: 7rem;
}

.trusted-grid {
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
  margin-top: 6rem;
  padding: 0 26px;
}

.section-subheading{
  color: var(--section-subHeading-color);
  font-size: 24px;
  display: inline-block;
  line-height: 0;
}

.section-heading{
   color: black;
  font-size: 36px;
  line-height: 1;
  font-weight: 300;
  margin-top: 0;
}

.trusted-content .main-p {
  color: #898989;
  line-height: 1.7;
  word-spacing: 10px;
  max-width: 540px;
  text-align: justify;
  font-size: 16px;
  margin-top: 0;
}

.progress-group {
  margin-bottom: 30px;
}

.progress-item {
  margin-bottom: 2rem;
}

.progress-item span {
  display: block;
  font-size: 18px;
  margin-bottom: 1rem;
  color: var(--primary-color);
  font-weight: 300;
}

.progress-bar {
  height: 6px;
  background: #e5edff;
  border-radius: 10px;
  position: relative;     
  overflow: visible;   
}

.progress-fill {
  position: relative;
  height: 100%;
  background: linear-gradient(90deg, #1f5eff, #6fa4ff);
  border-radius: 10px;
}

.progress-dot {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  width: 12px;
  height: 12px;
  background: #000;
  border: 3px solid #1f5eff;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 0 4px rgba(31, 94, 255, 0.25);
}

.trusted-btn {
  background: #00254d;
  color: white;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.trusted-btn:hover{
  background-color: var(--lightest-blue);
  color: black;
}

.trusted-image {
  position: relative;
}

.trusted-image img {
  width: 100%;
  border-radius: 6px;
}

.experience-badge {
  position: absolute;
  top: -20px;
  right: -20px;
  background: #e6f3ff;
  opacity: 1;
  padding: 16px 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
  border-radius: 6px;

  display: flex;              
  align-items: center;
  gap: 12px;
}

.experience-badge strong {
  font-size: 42px;     
  font-weight: 300;      
  color: var(--primary-color);
  line-height: 1;
  white-space: nowrap;
}

.experience-badge span {
  font-size: 16px;
  color: #787878;
  line-height: 1.2;
  word-spacing: 8px;
}

.services-section {
  padding: 1rem;
  max-width: 1400px;
  margin: auto;
  margin-top: 6rem;
  padding: 0 26px;
}

.services-section .section-subheading,.services-section .section-heading{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 2rem;
}

.services-section .section-heading{
  margin-bottom: 4rem;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
 max-width: 1400px;   
  margin: 0 auto;    
}

.service-card {
  background: #ecf5ff;
  position: relative;                 
  padding: 2rem 1.5rem 2rem;        
  transition: 0.3s ease;
  margin-bottom: 2rem;
}

.icon-box {
  position: absolute;
  top: -22px;                         
  left: 20px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.icon-box img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.service-card h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: black;
  font-weight: 600;
  word-spacing: 8px;
}

.service-card p {
  font-size: 16px;
  color: #898989;
  line-height: 1.7;
  word-spacing: 10px;
}

.progress-item span{
  color: var(--section-subHeading-color);
}

.footer {
  background: var(--primary-color);
  color: #fff;
  padding: 70px 20px 20px;
  margin-top: 6rem;
}

.footer-grid {
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
   gap: 40px;
}

.footer h3 {
   font-size: 32px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.footer-intro-p{
   font-size: 16px;
  line-height: 1.7;
  max-width: 320px;
  margin-bottom: 25px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons .icon {
    display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background-color: #ffffff;
  color: #000;
  border-radius: 50%;
  transition: all 0.25s ease;
}

.icon:hover {
   transform: translateY(-3px) scale(1.05);
  background-color: #f2f2f2;
}

.footer h4{
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 25px;
}

.footer ul {
   list-style: none;
  padding: 0;
  margin: 0;
}

.footer li {
margin-bottom: 14px;
  font-size: 17px;
  font-weight: 300;
}

.footer a{
  text-decoration: none;
  color: #ffffff;
}

.footer-bottom-container{
 background-color: black;
 color: #ffffff;
  padding: 0 20px;
}

.footer-bottom {
 display: flex;
 align-items: center;
 justify-content: space-between;
 max-width: 1400px;
 margin: auto;
}

.icon-with-text{
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 18px;
}

.icon-with-text img{
   width: 26px;
  height: 26px;
  object-fit: contain;
}

.icon-with-text p {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
}

.hero-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
}

.hero-wrapper {
  position: relative;
  min-height: clamp(680px, 80vh, 860px);
  background: var(--primary-color);
  padding-top: 180px;
  margin-bottom: 5rem;
}

.hero-centered h2 {
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
 position: absolute;
 top:50%;
 transform: translateY(-50%);
}