@media (max-width: 575.98px) {

  .logo {
    font-size: 32px;
  }

  .hero {
    padding-top: 90px;
    min-height: auto;
  }

  .hero-grid {
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 0 20px;
    display: flex;
    flex-direction: column-reverse;
  }

  .hero-image img {
    max-width: 260px;
    margin: 0 auto;
  }

  .hero-content {
    text-align: center;
  }

  .hero-content h2 {
    font-size: 30px;
    line-height: 1.3;
  }

  .hero-content p {
    font-size: 16px;
    width:80%;
    margin: auto;
  }

  .hero-content p span {
    font-size: 18px;
  }

  .hero-actions {
    justify-content: center;
    flex-wrap: wrap;
  }

  .outline-btn,
  .solid-btn {
    font-size: 16px;
    padding: 10px 16px;
  }

  .trusted-section {
    margin-top: 3rem;
  }

  .trusted-grid {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .trusted-content {
    text-align: center;
  }

  .section-heading {
    font-size: 24px;
    line-height: 1.3;
  }

  .main-p {
    font-size: 14px;
  }

  .progress-group {
    margin-top: 24px;
  }

  .trusted-btn {
    margin-top: 24px;
  }

  .trusted-image img {
    width: 100%;
    height: auto;
  }

  .experience-badge {
    padding: 8px 12px;
    font-size: 12px;
  }

   .services-section {
    padding: 40px 16px;
  }

  .services-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .section-heading {
    font-size: 24px;
    margin-bottom: 32px;
  }

  .service-card {
    padding: 2.5rem 1.25rem 1.75rem;
  }

  .icon-box {
    top: -18px;
    left: 16px;
  }

  .icon-box img {
    width: 48px;
    height: 48px;
  }

  .service-card h4 {
    font-size: 18px;
    word-spacing: 4px;
  }

  .service-card p {
    font-size: 14px;
    word-spacing: 6px;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    gap: 25px;
    text-align: center;
  }

  .social-icons {
    justify-content: center;
    margin-left: 0;
  }

  .footer h3 {
    font-size: 24px;
  }

  .footer-intro-p {
    font-size: 14px;
    word-spacing: 3px;
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
  }

  .footer h4 {
    font-size: 18px;
    margin-top: 20px;
  }

  .footer li {
    font-size: 16px;
    margin-bottom: 1rem;
  }

  .icon-with-text {
    justify-content: center;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}

@media (max-width: 990px) {

  .nav-links {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {

  .logo {
    font-size: 36px;
  }

  .hero-grid {
    grid-template-columns: 1fr;
    gap: 0;
    height: 100%;
    min-height: 100%;
    margin-top: 6rem;
  }

  .hero-content {
    order: 1;
    text-align: center;
    margin-top: 0;
    align-self: flex-start;
  }

  .hero-content h2 {
    font-size: 40px;
  }

  .hero-content p {
    font-size: 20px;
    width:80%;
    margin: auto;
  }

  .hero-actions {
    justify-content: center;
    align-items: center;
  }

  .hero-image {
    order: 2;
    height: 100%;
    min-height: 100%;
    display: flex;
    align-items: flex-end; 
    justify-content: center;
    margin-top: auto;
  }

  .hero-image img {
    max-width: 300px;
  }

   .trusted-section {
    margin-top: 3rem;
  }

  .trusted-grid {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .section-heading {
    font-size: 28px;
  }

  .main-p {
    font-size: 15px;
  }

   .services-section {
    padding: 50px 24px;
  }

  .services-grid {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .section-heading {
    font-size: 28px;
  }

  .service-card h4 {
    font-size: 19px;
  }

  .service-card p {
    font-size: 15px;
  }

  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

  .social-icons {
    justify-content: flex-start;
    margin-left: 0;
  }

  .footer h3 {
    font-size: 26px;
  }

  .footer-intro-p {
    font-size: 15px;
  }

  .footer h4 {
    font-size: 18px;
  }

  .footer li {
    font-size: 16px;
  }

  .icon-with-text {
    justify-content: flex-start;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {

  .logo {
    font-size: 40px;
  }

  .hero-grid {
    grid-template-columns: 1fr;
    gap: 0;
    height: 100%;
    min-height: 100%;
    margin-top: 6rem;
  }

  .hero-content {
    order: 1;
    text-align: center;
    margin-top: 0;
    align-self: flex-start;
  }

  .hero-content h2 {
    font-size: 40px;
  }

  .hero-content p {
    font-size: 20px;
    width:80%;
    margin: auto;
  }

  .hero-actions {
    justify-content: center;
    align-items: center;
  }

  .hero-image {
    order: 2;
    height: 100%;
    min-height: 100%;
    display: flex;
    align-items: flex-end; 
    justify-content: center;
    margin-top: auto;
  }

  .hero-image img {
    max-width: 300px;
  }

  .trusted-section {
    padding: 60px 40px;
  }

  .trusted-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
  }

  .section-heading {
    font-size: 32px;
  }

  .main-p {
    font-size: 16px;
  }

  .trusted-image {
    max-width: 600px;
    margin: 0 auto;
  }

  .services-section {
    padding: 60px 40px;
  }

  .services-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;
  }

  .section-heading {
    font-size: 32px;
  }

  .service-card {
    padding: 2.5rem 1.5rem 2rem;
  }

  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .social-icons {
    justify-content: flex-start;
    margin-left: 0;
  }

  .footer h3 {
    font-size: 28px;
  }

  .footer-intro-p {
    font-size: 15px;
  }

  .footer h4 {
    font-size: 19px;
  }

  .footer li {
    font-size: 17px;
  }

  .icon-with-text {
    justify-content: flex-start;
  }

  .footer-bottom {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

  .nav-div,
  .hero-grid {
    max-width: 1200px;
    padding: 0 20px;
  }

  .hero-content{
    margin-bottom: 2rem;
  }

  .hero-content h2 {
    font-size: 44px;
  }

  .hero-content p {
    font-size: 21px;
  }

   .trusted-section {
    padding: 80px 60px;
  }

  .trusted-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
  }

  .section-heading {
    font-size: 36px;
  }

  .main-p {
    font-size: 17px;
  }

  .services-section {
    padding: 80px 60px;
  }

  .services-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .section-heading {
    font-size: 36px;
  }

   .footer-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  .footer h3 {
    font-size: 30px;
  }

  .footer-intro-p {
    font-size: 16px;
  }

  .footer h4 {
    font-size: 20px;
  }

  .footer li {
    font-size: 18px;
  }
}